body {
  background-color: #f9f7f1;
  font-family: "Droid Serif", serif;
}
hr {
  border-top: 3px solid;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  display: block;
  line-height: 70px;
  text-align: center;
}
p {
  text-align: center;
  font-size: smaller;
  line-height: 8px;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 1000px;
  margin: 15px auto;
}
.weather-app {
  border: 1px solid;
  border-radius: 10px;
  display: block;
  padding: 0 15px 15px;
}
