.subhead {
  font-size: 14px;
}
.location-form {
  padding-right: 16px;
}
.geolocation-button {
  border: 1px solid;
  border-color: grey;
  border-radius: 3px;
  padding: 1.75px 6px;
}
.geolocation-button:hover {
  border-color: #4a4a4a;
  background-color: #e5e4e4;
}
