.card {
  margin: 12px;
}
.weather-forecast-date {
  font-size: 16px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
