.subhead {
  font-size: 14px;
}
.location-form {
  padding-right: 16px;
}
.geolocation-button {
  border: 1px solid;
  border-color: grey;
  border-radius: 3px;
  padding: 1.75px 6px;
}
.geolocation-button:hover {
  border-color: #4a4a4a;
  background-color: #e5e4e4;
}

.col-6 {
  text-align: center;
}
.temperature {
  font-size: 40px;
}
.units {
  position: relative;
  font-size: 20px;
  top: -15px;
}
.low-temp {
  opacity: 0.5;
}
.weather-temperature .active {
  color: #000000;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-details {
  padding-left: 80px;
}
#city {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
}
#description::first-letter {
  text-transform: capitalize;
}
